.paper {
  margin-top: 8;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  padding: 2px;
}
.avatar {
  margin: 1px;
  background-color: blue,
}
.form {
  width: '100%';
  margin-top: 3,
}
.submit {
  margin: 3, 0, 2;
}
.googleButton {
  margin-bottom: 2;
}